.logo{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 450;
    background-color: transparent;
    transition: all 300ms ease-in;

    &.scroll{
        background-color: #303960 !important;
        animation: scrollNavbarAnimation 300ms ease-in-out;
        border-radius: 0 0 12px 12px;
        box-shadow: 0px 4px 31px 0px rgba(0,0,0,0.15);

        @keyframes scrollNavbarAnimation {

            from{
                opacity: 0;
            }

            to{
                opacity: 1;
            }
            
        }
    }

    img{
        width: 22px;
    }

    span{
        color: #fff;
        margin-left: 8px;
        font-size: 18px;
        font-weight: 600;
    }
}